@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg-primary: #18181B;
    --color-bg-secondary: #27272A;
    --color-bg-tertiary: #3F3F45;

    --color-control-secondary: #3F3F45;
    
    --color-text-primary: #FCFCFD;
    --color-text-secondary: #A1A1A9;
    --color-text-accent: #444CE7;

    .dark {
      --color-bg-primary: #FCFCFD;
      --color-bg-secondary: #F4F4F5;
      --color-bg-tertiary: #E4E4E7;
  
      --color-control-secondary: #E4E4E7;
      
      --color-text-primary: #18181B;
      --color-text-secondary: #717179;
      --color-text-accent: #444CE7;
    }
  }
}

body {
  font-family: "Manrope";
}